<!doctype html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>

  <body>
    <nav class="navbar">
      <div class="logo">
        <img src="{{ url_for('static', filename='images/Logo.png') }}" alt="Lila Cloth Logo" />
      </div>
      <ul class="nav-links" style="align: center">
        <li>
          <a href="/customer" target="_parent" class="home-btn">home</a>
        </li>
        <li>
          <a href="/customer/cart" target="_parent" class="cart-btn">cart</a>
        </li>
        <li>
          <a href="/customer/orders" target="_parent" class="orders-btn"
            >orders</a
          >
        </li>
      </ul>

      <div class="profile-section">
        <div class="welcome-text">
                Welcome, <span class="admin-name">{{user.name}}</span>
            </div>
            <a href="/auth/profile" target="_parent">
                <div class="profile-icon">Profile</div>
            </a>
      </div>
    </nav>
  </body>
</html>
