<!doctype html>
<html lang="ar" dir="rtl">
  <link rel="stylesheet" href="Global.css" />
  <link rel="stylesheet" href="/static/nav-bar.css" />
  <head>
    <meta charset="UTF-8" />
  </head>
  <body>
    
  <nav class="navbar">
    {% if user %}
        <ul class="nav-links">
          <li>
            <a href="/api/auth/logout">Logout</a>
          </li>
          <li>
            <a href="/api/customer/orders">Orders</a>
          </li>
          <li>
            <a href="/api/customer/cart">Cart</a>
          </li>
          <li>
            <a href="/api/customer/products">Home</a>
          </li>
        </ul>
      
    
    {% else %}
    <ul class="nav-links">
        <li>
          <a href="/api/auth/register" target="_parent" class="register-btn">register</a>
        </li>
        <li>
          <a href="/api/auth/login" target="_parent" class="login-btn">login</a>
        </li>
      </ul>
      {% endif %}
      <div class="logo">
        <img src="images/Logo.png" alt="Lila Cloth Logo" />
      </div>
    </nav>
  </body>
</html>
